{% extends 'main.html' %}

{% load static %}

{% block content %}
		<!-- Breadcrumbs -->
		<div class="breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="bread-inner">
							<ul class="bread-list">
								<li><a href="https://wpthemesgrid.com/themes/eshop/index1.html">Home<i class="ti-arrow-right"></i></a></li>
								<li class="active"><a href="https://wpthemesgrid.com/themes/eshop/blog-single.html">Register</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Breadcrumbs -->

		<!-- Shop Login -->
		<section class="shop login section">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 offset-lg-3 col-12">
						<div class="login-form">
							<h2>Register</h2>
							<p>Please register in order to checkout more quickly</p>
							<!-- Form -->
							<form class="form" method="post" action="">
								{% csrf_token %}

								<div class="row">
									{% for field in form %}
									<div class="col-12">
										<div class="form-group">
											{% if field.html_name == 'username' or field.html_name == 'email' %}
											<label>{{ field.html_name }}<span>*</span></label>
											<input type="text" name="{{ field.html_name }}" id="{{ field.id_for_label }}" placeholder="" required="required">
											{% else %}
														{% if field.html_name == 'password2'  %}
														<label>password_verification<span>*</span></label>
														<input type="text" name="{{ field.html_name }}" id="{{ field.id_for_label }}" placeholder="" required="required">
															{% else %}
															<label>password<span>*</span></label>
															<input type="text" name="{{ field.html_name }}" id="{{ field.id_for_label }}" placeholder="" required="required">
															{% endif %}
																	{% endif %}
																	<label > {{field.errors}}</label>

										</div>
									</div>
									{%endfor%}
									</div>
									<div class="col-12">
										<div class="form-group login-btn">
											<button class="btn" type="submit">Register</button>
											<a href="https://wpthemesgrid.com/themes/eshop/login.html" class="btn">Login</a>
										</div>
										<div class="checkbox">
											<label class="checkbox-inline" for="2"><input name="news" id="2" type="checkbox">Sign Up for Newsletter</label>
										</div>
									</div>
								</div>
							</form>
							<!--/ End Form -->
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Login -->

{%endblock%}
